/* Scoped to your container: col-12.mb-2 > content */
.col-12.mb-2 > .content strong {
  font-weight: 500 !important;
}

.col-12.mb-2 > .content a {
  text-decoration: none;
}

.col-12.mb-2 > .content td {
  border: none !important;
  padding: 0 !important;
}

.col-12.mb-2 > .content table {
  table-layout: auto;
}

.col-12.mb-2 > .content .inline-table {
  display: inline-table;
}

.col-12.mb-2 > .content .vac {
  background-color: #1657b8;
  color: white !important;
  display: block;
  width: 100%;
  padding: 0.1rem 0.2rem;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  user-select: none;
  text-align: left;
  padding-left: 2rem;
  margin-top: 1rem;
}

.col-12.mb-2 > .content .vac > span {
  color: white !important;
}

.col-12.mb-2 > .content .dep_trigger {
  border: 1px solid black;
  padding: 0.3rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  min-width: fit-content;
  max-width: 100%;
  margin: 0;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.col-12.mb-2 > .content .arrow {
  width: 0px;
  border-bottom: 0 solid transparent;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.7rem solid black;
  transition: transform 0.3s ease;
  transform-origin: 50% 50%;
  margin: 0 !important;
}

.col-12.mb-2 > .content .arrow_container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.col-12.mb-2 > .content .get_rotated {
  transform: rotateZ(-180deg);
}

.col-12.mb-2 > .content ~ .data_window {
  border: 1px solid black;
  width: 60vw;
  height: fit-content;
  margin-top: 1rem;
  padding: 1rem 2rem;
}

.col-12.mb-2 > .content .title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
}

.col-12.mb-2 > .content .subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.col-12.mb-2 > .content .flex {
  display: flex !important;
  gap: 1rem !important;
}
