.vac_sections {
  display: block;
}

.hidden {
  display: block; /* Note: in JS you have "block", normally hidden would be display: none */
}

.granddad_vacancies_2025 {
  display: flex;
}

/* Uncomment if you want to use this modal style */
/*
.vac-modal {
  display: none;
}
*/

.modal_vacs_2025 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  border: 1px solid black;
}

.vac_modal {
  display: none;
}

.vac_modal_shown {
  display: block;
}
.vac {
  padding: 0;
  display: flex;
  justify-content: center;
}

.vac_title {
  border: none;
  background-color: #1657b8;
  color: white;
  padding: 0.75rem 5.75rem;
  font-size: 1.5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  user-select: none;
}
.all_vacs_title {
  font-size: 2.5rem;
}
.dep_title {
  font-size: 1rem;
}
